{% extends "base.html" %}
{% block title %}
  My Questions
{% endblock title %}
{% block body %}
{% for question in questions %}
<a href="{% url 'AppForum:details' pk=question.pk %}" class="text-decoration-none">
    <div class="border border-secondary-subtle px-5 py-3 d-flex justify-content-between align-items-center">
        <h3 class="text-secondary">{{question.question}}</h3>
        <span class="text-secondary"> <i class="fa fa-arrow-right" aria-hidden="true"></i></span>
    </div>
</a>
{% endfor %}
{% endblock body %}